target/
**/target/
project/target/
project/project/
.idea/
.metals/
.bsp/
.bloop/
.vscode/
.git/
.gitignore
*.iml
tests/reports/
docker-compose.yml
.env
.env.*
!.env.example
README.md
plan.md
single-node.md
reqs.md
flake.nix
shell.nix
docs/
